:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #202020;
  --color-bg-base: #282828;
  --color-bg-surface: #32302f;
  --color-bg-highlight: #504945;
  --color-fg-shade: #d4be98;
  --color-fg-base: #504945;
  --color-fg-surface: #d4be98;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #141617;
  --color-primary-base: #282828;
  --color-primary-fg: #89b482;
  --color-secondary-bg: #1d2021;
  --color-secondary-base: #d4be98;
  --color-secondary-fg: #d4be98;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Quicksand;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1290px;
  --surface-shadow: 2px 2px 3px rgb(20, 22, 23), 4px 4px 3px rgb(20.29032258064516, 22.322580645161292, 23.322580645161292), 6px 6px 3px rgb(20.580645161290324, 22.64516129032258, 23.64516129032258), 8px 8px 3px rgb(20.870967741935484, 22.967741935483872, 23.967741935483872), 10px 10px 3px rgb(21.161290322580644, 23.29032258064516, 24.29032258064516), 12px 12px 3px rgb(21.451612903225808, 23.612903225806452, 24.612903225806452), 14px 14px 3px rgb(21.741935483870968, 23.935483870967744, 24.935483870967744), 16px 16px 3px rgb(22.032258064516128, 24.258064516129032, 25.258064516129032), 18px 18px 3px rgb(22.322580645161292, 24.580645161290324, 25.580645161290324), 20px 20px 3px rgb(22.612903225806452, 24.903225806451612, 25.903225806451612), 22px 22px 3px rgb(22.903225806451612, 25.225806451612904, 26.225806451612904), 24px 24px 3px rgb(23.193548387096776, 25.548387096774192, 26.548387096774192), 26px 26px 3px rgb(23.483870967741936, 25.870967741935484, 26.870967741935484), 28px 28px 3px rgb(23.774193548387096, 26.193548387096776, 27.193548387096776), 30px 30px 3px rgb(24.064516129032256, 26.516129032258064, 27.516129032258064), 32px 32px 3px rgb(24.35483870967742, 26.838709677419356, 27.838709677419356), 34px 34px 3px rgb(24.64516129032258, 27.161290322580644, 28.161290322580644), 36px 36px 3px rgb(24.935483870967744, 27.483870967741936, 28.483870967741936), 38px 38px 3px rgb(25.225806451612904, 27.806451612903224, 28.806451612903224), 40px 40px 3px rgb(25.516129032258064, 28.129032258064516, 29.129032258064516), 42px 42px 3px rgb(25.806451612903224, 28.451612903225808, 29.451612903225808), 44px 44px 3px rgb(26.096774193548388, 28.774193548387096, 29.774193548387096), 46px 46px 3px rgb(26.387096774193548, 29.096774193548388, 30.096774193548388), 48px 48px 3px rgb(26.67741935483871, 29.419354838709676, 30.419354838709676), 50px 50px 3px rgb(26.967741935483872, 29.741935483870968, 30.741935483870968), 52px 52px 3px rgb(27.258064516129032, 30.064516129032256, 31.064516129032256), 54px 54px 3px rgb(27.548387096774192, 30.387096774193548, 31.387096774193548), 56px 56px 3px rgb(27.838709677419356, 30.70967741935484, 31.70967741935484), 58px 58px 3px rgb(28.129032258064516, 31.032258064516128, 32.03225806451613), 60px 60px 3px rgb(28.41935483870968, 31.35483870967742, 32.35483870967742), 62px 62px 3px rgb(28.70967741935484, 31.67741935483871, 32.67741935483871), 64px 64px 3px rgb(29, 32, 33);
  --surface-borderRadius: 12px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
